:root{
    /*Colores*/
    --color-text: #fff;
    --color-primary: #8b015d;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #000000;

  /* Fuente */
  --font-sans-serif: "Roboto";
}